.ipynb_checkpoints
__pycache__
engineering.ipynb
visualization.ipynb
pool_loading.ipynb
images/*.pdf
images/cv_stack/
models/
*.gif
cross_*-P*.ipynb
mapper_kerastuner-C*
mapper_tuning*
archive/
src/results/*_2*
src/results/*_3*
src/results/*_4*
src/results/*_5*
src/weights_v5
mapper_kerastuner-v5_10_50db.ipynb
